.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 10% 20%;
    height: 80vh;
}

.square {
    background-color: aquamarine;
    border: 1px solid salmon;
}

.changed {
    background-color: slateblue;
}

input.invalid {
    
}

/* mmmm, make a flexbox around the control bits and the grid container 
to make things show up better*/

